@font-face {
  font-family: Gilroy;
  src: url("/fonts/Gilroy.otf");
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: Gilroy;
  background: radial-gradient(circle at 25% 30%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  overflow-x: hidden;
}